body {
   background-image: url('hearts.gif');
    margin top: 50;
    
}

div {
    text-align: center;
    border-radius: 5px;
    margin: auto;
    color: white;
  
}

a{
    width: 90%;
    margin: auto;
    background:  rgb(211, 93, 113);
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    margin-top: 30px;
    border: 1px solid #444;  
    text-align: center;
    display: block;
    color: #444;
    text-decoration: none;
    font-weight: bold;
   
  }

.one a:hover {
    size: 150%;
}

.one {
    
    text-align: center;
    font-size: 200px;
   font-family: Helvetica, sans-serif;
   font-weight: 800;
   letter-spacing: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.one {font-size: 30px;

}

.two {font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 20px;}

.three {font-size: 100px;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 20px;}

.four {font-size: 200px; font-family: Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 20px;}

.five {font-size: 300px; font-family: Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 20px;}

  
